@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap"');

.text-shadow{
    text-shadow: 2px 2px 3px black;
}

.text-shadow-md{
    text-shadow: 2px 2px 6px black;
}

.font{
    font-family: 'Pacifico', cursive;
}